body{
margin:0;
height:100vh;
font-family:Arial;
background:
linear-gradient(
skyblue,
white
);
display:flex;
justify-content:center;
align-items:center;
}
.page{
background:white;
width:600px;
padding:40px;
border-radius:30px;
text-align:center;
box-shadow:
0 10px 30px gray;
}
h1{
font-size:45px;
color:#168cff;
}
button{
width:250px;
height:70px;
margin:15px;
border:none;
border-radius:20px;
background:
linear-gradient(
orange,
#ff6600
);
color:white;
font-size:22px;
font-weight:bold;
}
button:hover{
transform:scale(1.05);
}
.games{
display:flex;
justify-content:center;
}
input{
display:block;
margin:15px auto;
width:80%;
padding:15px;
border-radius:15px;
border:2px solid #ddd;
}
p{
font-size:20px;
}

table{
width:80%;
margin:20px auto;
border-collapse:collapse;
background:white;
}
th{
background:#ff9900;
color:white;
padding:10px;
}
td{
padding:10px;
border:1px solid #ddd;
}