body{
margin:0;
height:100vh;
background:
linear-gradient(
skyblue,
white
);
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
}
.page{
background:white;
width:600px;
padding:40px;
border-radius:30px;
text-align:center;
box-shadow:
0 10px 30px #555;
}
h1{
font-size:50px;
color:#008cff;
text-shadow:
3px 3px white;
}
button{
width:300px;
height:70px;
margin:15px;
border:none;
border-radius:25px;
background:
linear-gradient(
orange,
#ff6600
);
color:white;
font-size:25px;
font-weight:bold;
cursor:pointer;
}
button:hover{
transform:scale(1.05);
}
input{
width:80%;
padding:15px;
margin:10px;
border-radius:15px;
}